* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.bg_color {
    background-color: #000
}

header a {
    color: #ffff;
    font-style: normal;
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    text-decoration: none;
    text-transform: uppercase;

    width: 176px;
    height: 44px;
}

nav {
    text-align: center;

    width: 100%;
    height: 60px;
    margin-bottom: 100px;
}

h1 {
    color: #000;
    font-style: normal;
    font-size: 56px;
    font-weight: 700;
    line-height: 76px;
    margin-bottom: 15px;
}

h5 {
    margin-top: 50px;
}

main {
    max-width: 940px;
    margin: 0 auto;
}

.primeiro_p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 90px;
}

.segundo_p {
    color: #000000;
}

.terceiro_p {
    color: #333;
    margin-top: 40px;
    margin-bottom: 40px;
}

.info {
    color: #333;
}

.listas a:visited,
.listas a:link,
.lista_1 {
    color: #A80000;
}

.listas ul {
    list-style-type: none;
    margin-bottom: 70px;
}

img {
    max-width: 400px;
    border-radius: 2px;
    display: block;
    margin: auto;
}

h6 {
    text-align: center;
    font-size: 12px;
    color: #ffff;
    
    width: auto;
    padding: 40px;
    margin-top: 100px;
}